:root{
    --primary-color: #48A9E6;
	--dark-color:rgb(41, 51, 62);
}

a{
    text-decoration: none;
    color: inherit;
}

.content_wrapper{
	display: flex;
	flex-direction: row;
}

/* side bar */
.sidebar{
	height:100%;
	width:200px;
	border-right: 1px solid lightgray;
	position:fixed;
	z-index:1;
	overflow:auto;
	display: flex;
	gap: 15px;
	flex-direction: column;
}

.content{
	margin-left: 220px;
}

.entry_page{
	position: absolute;
	display: flex;
	flex-direction: row;
	border: 1px solid red;
	top:0;
}

.entries_right{
	margin-top: 80px;
	padding-inline: 20px;
	overflow: auto;
	flex-grow: 1;
}

.entries_left{
	margin-top: 80px;
	padding-right: 20px;
	overflow: auto;
	flex-grow: 1;
}

@media (max-width: 480px) {
	.sidebar{
	  position: relative;
	  flex-direction: row;
	  overflow: scroll;
	  border: 0;
	  gap: 0;
	  width: 100%;
	}

	.content_wrapper{
		flex-direction: column;
	}

	.content{
		margin-left: 0px;
	}

	.entries_right{
		margin-top: 130px;
	}
	
	.entries_left{
		margin-top: 130px;
	}
}

input, select{
	background-color: #fbfbfb!important;
}

.nav-link{
	border-left: 1px solid red;
}

.nav-link-unselected{
	border-left: 1px solid green;
}

/* image upload */
.imageDiv {
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.grid_image{
	position: relative;
	width: 100%;
	aspect-ratio: 1/1;
}

.grid_image:hover *{
	color: white;
}

.grid_image:hover .iconBackground{
	background-color: #00000052;
}

.grid_image img{
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.overlay{
	width: 70px;
	height: 70px;
	position: absolute;
	top:0;
	right: 0;
}

.overlay svg {
	height: 70px;
	width: 70px;
	fill: orange;
}

/* canvas css */

.main_canvas{
    position: absolute;
    top: 10px;
    left: 200px;
    z-index: 10;
}

.work_area{
    padding: 10px 10px 10px 200px;
    position: relative;
}

.main_img{
    user-select: none;
}

.body{
	margin-top: 60px;
	padding: 20px;
}

.page_body{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.type_select{
    width: fit-content;
}

.side_bar{
    position: fixed;
    z-index: 100;
    left: 0;
    height: 100%;
    width: 170px;
	padding: 10px;
	padding-top: 10px;
    background-color: #2c2c2c;
	border-right: 1px solid gray;
}

.show_regions, .show_help{
    padding: 0 20px 20px 20px;
}

.show_regions tbody tr th{
    text-align: left;
}

.show_help tbody tr td{
    min-width: 200px;
}

.key { 
    padding:1px 6px; 
    background:linear-gradient(to bottom,#f0f0f0,#fcfcfc); 
    border:1px solid #e0e0e0; 
    white-space:nowrap; 
    color:#303030; 
    border-bottom-width:2px; 
    border-radius:3px;
    width: fit-content;
}


.invisible_file_input { 
    width:25px; 
    height:25px; 
    opacity: 0;  
    overflow:hidden; 
    position:absolute;
}


.color_square{
	width: 14px;
	height: 14px;
	border-radius: 3px;
	display: inline-block;
	margin-right: 5px;
}

/* not found page */

.notfound{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circles { 
	background:#fff;
	text-align: center;
	position: relative;
    height: fit-content;
    width: 100%;
}

.circles p {
	font-size: 150px;
    line-height: 100px;
	color: #fff;
	position: relative;
    z-index: 9;
}

.circles p small { 
  font-size: 40px; 
  vertical-align: top;   
  line-height: 100px;
}

.circles .circle.small {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background: #48A9E6;
	position: absolute;
	z-index: 1;
	top: 80px;
	left: 50%;
	animation: 7s smallmove infinite cubic-bezier(1,.22,.71,.98);	
	-webkit-animation: 7s smallmove infinite cubic-bezier(1,.22,.71,.98);
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}

.circles .circle.med {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #48A9E6;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 10%;
	animation: 7s medmove infinite cubic-bezier(.32,.04,.15,.75);	
	-webkit-animation: 7s medmove infinite cubic-bezier(.32,.04,.15,.75);
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

.circles .circle.big {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background: #48A9E6;
	position: absolute;
	z-index: 1;
	top: 50px;
	right: 0;
	animation: 8s bigmove infinite;	
	-webkit-animation: 8s bigmove infinite;
	animation-delay: 3s;
	-webkit-animation-delay: 1s;
}

@-webkit-keyframes smallmove {
	0% { top: 10px; left: 45%; opacity: 1; }
	25% { top: 150px; left: 40%; opacity:0.7; }
	50% { top: 120px; left: 55%; opacity:0.4; }
	75% { top: 50px; left: 40%;  opacity:0.6; }
	100% { top: 10px; left: 45%; opacity: 1; }
}
@keyframes smallmove {
	0% { top: 10px; left: 45%; opacity: 1; }
	25% { top: 150px; left: 40%; opacity:0.7; }
	50% { top: 120px; left: 55%; opacity:0.4; }
	75% { top: 50px; left: 40%;  opacity:0.6; }
	100% { top: 10px; left: 45%; opacity: 1; }
}

@-webkit-keyframes medmove {
	0% { top: 0px; left: 20%; opacity: 1; }
	25% { top: 150px; left: 80%; opacity:0.7; }
	50% { top: 120px; left: 55%; opacity:0.4; }
	75% { top: 50px; left: 40%;  opacity:0.6; }
	100% { top: 0px; left: 20%; opacity: 1; }
}

@keyframes medmove {
	0% { top: 0px; left: 20%; opacity: 1; }
	25% { top: 150px; left: 80%; opacity:0.7; }
	50% { top: 120px; left: 55%; opacity:0.4; }
	75% { top: 50px; left: 40%;  opacity:0.6; }
	100% { top: 0px; left: 20%; opacity: 1; }
}

@-webkit-keyframes bigmove {
	0% { top: 0px; right: 4%; opacity: 1; }
	25% { top: 50px; right: 40%; opacity:0.4; }
	50% { top: 120px; right: 45%; opacity:0.8; }
	75% { top: 50px; right: 35%;  opacity:0.6; }
	100% { top: 0px; right: 4%; opacity: 1; }
}
@keyframes bigmove {
	0% { top: 0px; right: 4%; opacity: 1; }
	25% { top: 50px; right: 40%; opacity:0.4; }
	50% { top: 120px; right: 45%; opacity:0.8; }
	75% { top: 50px; right: 35%;  opacity:0.6; }
	100% { top: 0px; right: 4%; opacity: 1; }
}
